<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="site/common/head"></head>
<title>友链 - [[${setting.siteName}]]</title>
<body class="bg-white" gtools_scp_screen_capture_injected="true">

<div th:replace="site/common/header"></div>

<div class="post-header-thumb">
    <div class="post-header-thumb-op" style="background-image:url(/site/images/thumbs/4.jpg);"></div>
    <div class="post-header-thumb-cover">
        <div class="post-header-thumb-container">
            <div class="post-header-thumb-title">
                友链
            </div>
            <div class="post-header-thumb-meta">
                <time datetime="1524412800" itemprop="datePublished"><b>[[${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd hh:mm:ss')}]]</b></time>
                in <a href="#">Links</a>
                with <a href="#vcomments"><b>[[${count}]]</b></a>
                <div class="post-header-thumb-meta" style="font-size: 13px;">
                    <span class="post-count">本文字数：<b class="count"></b> 字</span>
                    <span>|</span>
                    <span class="post-count">阅读时长 ≈ <b class="time"></b> min</span>
                </div>
            </div>
            <div class="post-tags">
                <a href="#">Links</a>
            </div>
        </div>
    </div>
</div>

<article class="main-content post-page" itemscope itemtype="http://schema.org/Article">
    <div id="post-content" class="post-content">
        <h2>友情链接 😉 </h2>
        <ul>
            <li th:each="link : ${list}"><a th:href="${link.url}" target="_blank" th:text="${link.name}"></a></li>
        </ul>
        <h2>链接须知</h2>
        <blockquote>
            <ul>
                <li>请确定贵站可以稳定运营</li>
                <li>原创博客优先，技术类博客优先，设计、视觉类博客优先</li>
                <li>经常过来访问和评论，眼熟的</li>
            </ul>
        </blockquote>
        <h2>基本信息</h2>
        <ul>
            <li>网站名称：Cing的博客</li>
            <li>网站地址：http://localhost:8080</li>
        </ul>
        <p>暂时先这样，同时欢迎互换友链，这个页面留言即可。 ^_^</p>
        <p>还有，我会不定时对无法访问的网址进行清理，请保证自己的链接长期有效。</p>
    </div>
    <meting-js th:id="${setting.siteMusic}" server="netease" type="song" auto="" autoplay="flase"></meting-js>
    <p class="post-info">
        本文由Cing创作，采用 <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="external nofollow">知识共享署名4.0</a> 国际许可协议进行许可<br>本站文章除注明转载/出处外，均为本站原创或翻译，转载前请务必署名<br>最后编辑时间为: [[${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd hh:mm:ss')}]]
    </p>
</article>

<input class="type" hidden value="1"/>
<div th:replace="site/page/common/comments"></div>

<div th:replace="site/common/footer"></div>
</body>
</html>